.splide__arrow svg {
    fill: whitesmoke !important; 
    height: 4.2em !important; 
    width: 4.2em !important; 
  }

.splide__pagination__page {
    background-color:#595858 !important;
  margin-bottom: 6rem !important;
}

.splide__pagination__page.is-active {
transform: scale(2) !important;
}